@{
    ViewData["Title"] = "Home Page";
}
@model List<SynapseBook.Models.Notes>


<div id="notes" class=" grid grid-cols-[repeat(auto-fill,minmax(240px,1fr))] gap-1 content-evenly flex flex-row flex-wrap">

  = @if (Model != null && Model.Any())
    {
        @foreach (var note in Model)
        {
            var title = note.Title;
            var description = note.Description;
            var hasTitle = !string.IsNullOrEmpty(title);
            var hasDescription = !string.IsNullOrEmpty(description);

            <div id="note" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 min-h-10  bg-red-100 border-dashed border-3 border-gray-500 flex flex-col">
                @if(@hasTitle)
                {
                    <div id="title" class="text-xl font-semibold">@note.Title</div>
                }
                @if (!string.IsNullOrEmpty(@note.Description))
                {
                    <div id="seperator" class="border"></div>
                }
                @if (@hasTitle && @hasDescription)
                {
                    <div id="content" class="text-base text-ellipsis overflow-hidden line-clamp-11">@note.Description</div>
                }
                else
                {
                    <div id="content" class="text-base overflow-x-hidden">EMPTY_NOTE</div>
                }
            </div>
        }
    }
    else
    {
        <div id="note" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 min-h-10  bg-red-100 border-dashed border-3 border-gray-500 flex flex-col">
            <div id="title">No notes found</div>
        </div>
    }

</div>